* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

.right-margin {
  margin-right: 20px;
}

.header {
  width: 100%;
  height: 60px;
  background-color: white;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-around;
  position: fixed;
  border-bottom: 1px solid lightgrey;
  align-items: center;
  padding-top: 10px;
  background-color: white;
}

.navbar-content-left {
  height: 40px;
  display: flex;
}

.menu-icon {
  height: 20px;
  margin-right: 10px;
}

.nyt-logo {
  height: 30px;
}

.navbar-content-right {
  height: 40px;
  display: flex;
}

.subscribe {
  color: #000;
  font-size: 18px;
}

.login-btn {
  cursor: pointer;
  background-color: #000;
  height: 30px;
  width: 80px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  border-radius: 4px;
  border: none;
}

.main {
  height: 2000px;
  width: 100%;
}

.article {
  width: 60%;
  margin: 0 auto;
  margin-top: 70px;
}

.article-header {
  font-size: 40px;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.big-image {
  width: 100%;
}

.fig-caption {
  font-size: 16px;
  color: #8c6666;
  width: 75%;
}

.writer-name,
a {
  font-size: 15px;
  color: black;
}

.main-article {
  margin: 0 auto;
  width: 50%;
  margin-top: 35px;
}

.date-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.date {
  width: 20%;
}

.socials {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.icon-design {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee;
}

.icon-size {
  padding: 10px;
  width: 40px;
  height: 40px;
}

.article-content {
  position: relative;
}

.paragraph-style {
  margin-top: 40px;
  font-size: 25px;
}

.unlock {
  text-align: center;
  clear: right;
}

.unlock a {
  text-decoration: none;
  color: #457194;
  font-weight: 700;
}

.underline {
  color: lightgray;
  margin-bottom: 10px;
}

.editor {
  width: 200px;
  position: absolute;
  left: 750px;
  
}

.editor-picks {
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
}

.editor-pic {
  width: 100px;
  height: 100px;
  padding: 10px 10px 10px 0px;
}

.editor-box {
  display: flex;
  width: 200px;
  margin-top: 10px;
}

.editor-link {
  margin-top: 10px;
  font-size: 12px;
}

.grid-image {
  display: grid;
  width: 90%;
  height: 650px;
  background-image: url(/assets/img/inflation.png);
  background-size: 100%;
  background-repeat: no-repeat;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border: 1px solid black;

}

.grid-box-style {
  padding-top: 160px;
  font-size: 12px;
  border: 1px solid black;

}